<div class="card">
    <div class="card-header">
        Feeds By Category
    </div>
    <div class="card-body">
        {{range .CategorizedFeeds.Feeds}}
            {{template "view_feed" .}}
        {{end}}
    </div>
</div>