<div class="card">
    <div class="card-header">
        Popular Feeds
    </div>
    <div class="card-body">
        {{range .PopularFeeds.Feeds}}
            {{template "view_feed" .}}
        {{end}}
    </div>
</div>