{{define "edit_feed"}}
    <div data-description="{{.Text}}">
        <input type="hidden" name="id" value="{{.ID}}"/>
        <button disabled>❌</button>
        <button disabled>📝</button>
        <form hx-patch="feed/{{.ID}}"
              hx-target="closest div"
              hx-swap="outerHTML"
        >
            <input type="text" name="title">
            <input type="submit">
        </form>
        <span>{{.Text}}</span>
    </div>
{{end}}